<h3>Площадь поверхности заглушки</h3>

<form>
    <label>Диаметр заглушки (D), мм</label>
    <input class="w3-input w3-border" type="number" ng-model="diam" placeholder="диаметр">
    <label>Высота заглушки (K), мм</label>
    <input class="w3-input w3-border" type="number" ng-model="visota" placeholder="высота">
    <label>Точность вывода результатов (знаки после запятой)</label>
    <input class="w3-input w3-border" type="number" ng-model="tochnost" placeholder="точность">
</form>

<br>

<table class="w3-table w3-bordered w3-striped">
  <tr>
    <td>Площадь поверхности заглушки, м2</td>
    <td>{{ area }}</td>
  </tr>
</table>
<img src="pic/zagl.png" border="0">